body {
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

:root {
    --shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --blue: #4961ff;
    --blue-strong: #4961ff;
    --gray: gray;
    --ck-color-table-caption-text: gray;
    --metadateColor: #777777
}

#main {
    width: calc(100vw - 1200px);
    background: #FFFFFF;
    max-width: 1024px;
}

@media (max-width: 70em) {
    #main {
        margin: 0 !important;
        padding: 90px 30px 30px 30px !important;
        width: 80% !important;
    }
}

#content {
    margin-bottom: 66px;
}

.blogMetadate {
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.blogMetadate a {
    color: var(--metadateColor) !important;
}

.blogMetadateItems {
    margin-left: 0;
}

/* 文章列表 */
.blogItems {
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: none;
    width: 100%;
    justify-content: flex-start;
    --tw-bg-opacity: 0.5;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    border-radius: .5rem;
    --tw-text-opacity: 1;
    color: rgb(60 60 67 / var(--tw-text-opacity));
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 0.5;
    border-color: rgb(234 236 239 / var(--tw-border-opacity));
    transition: transform 0.3s ease-in-out;
}

.blogItems:hover {
    transform: scale(1.04);
}

.blogItems .blogItemsMainContain {
    padding: 0;
    width: auto;
}

/* 文章目录样式 */
#toc-pane {
    order: 3;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 15vw;
    max-width: 250px;
    height: 100%;
    opacity: 1;
    top: 90px;
    animation: fromRightToLeftAppearing 0.5s ease-in-out;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    margin-right: 15px;
    max-height: 80vh;
    overflow: auto;
}

#toc-pane li {
    padding: 6px 0;
}

#toc a {
    color: #666;
}

#catalogue {
    position: fixed;
    bottom: 80px;
    right: 19vw;
    height: 30px;
    width: 30px;
    display: none;
    text-align: center;
    background: #37363661;
    border-radius: 50%;
    padding: 3px;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 2;
    align-items: center;

}

@media (max-width: 70em) {
    #catalogue {
        right: 8vw;

    }
}

.showCatalogue {
    display: block !important;
    animation: fromRightToRightAppearing 0.5s ease-in-out;
}

@keyframes fromRightToRightAppearing {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}



/* 文章页面样式 */
/* 文章标题 */
#title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 150%;
    text-align: center !important;
    padding-left: 0 !important;
}

#contentHeader {
    position: relative;
    height: 2.5rem;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.blogContent {
    display: flex;
    justify-content: space-evenly;
}

#blogItemSummaryImgContain {
    border-radius: 5px;
    padding: 2px;
    border: none;
    margin-left: 5px;
    width: 150px;
    height: auto;
    float: none;
    margin: 0px;
    display: inline-block;
    align-items: center;
    overflow: hidden;
}

.soft {
    color: #EEE;
}


/* 回到顶部 */
#onGoTop {
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 19vw;
    height: 30px;
    width: 30px;
    background: #37363661;
    border-radius: 50%;
    padding: 3px;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 2;
    align-items: center;
}

@media (max-width: 70em) {
    #onGoTop {
        right: 8vw;
    }
}

#onGoTop:hover {
    background: #999999;
    transform: translateY(-5px);
}

/*右侧样式*/
#otherPlatformBar {
    margin-top: 12px;
    border-top: 1px solid #EEE;
    padding-top: 12px;
}

.categoryBadge {
    padding: 0;
    padding-right: 1rem;

}

.caregoryCard {
    text-align: left;
}

.cardheight {
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
}

#articleCount {
    margin-right: 12px;
}

.tag {}

.tag .tagItem {
    box-shadow: none;
    font-size: 12px;
    padding: 3px 10px;
    color: #666;
    font-weight: normal;
}

.caregoryCard .feather-tag {
    margin-top: 10px;
    margin-right: 6px;
}

.image {
    cursor: pointer;
}


.searchContainerStyle {
    position: fixed;
    top: 80px;
    display: none;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    width: 50%;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(0 0 0 / 18%);
    padding: 20px;
    z-index: 1000;
    max-height: 60%;
    overflow: none;
    animation: slideIn .5s ease-in-out;
}

#searchInput {
    border: none;
    border-bottom: 1px solid #ededed;
    padding: 5px;
    width: 90%;
    outline: 0;
    height: 40px;
    font-size: 16px;
}

#searchResults {
    height: 90%;
    overflow: hidden;
    overflow-y: auto;
}

.searchItems {
    color: #666;
    font-weight: 400;
}

.searchItems:hover {
    color: var(--blue);
}

.itemsTitle {
    margin: .8em 0;
    padding-left: .5em;
    border-left: none;
    height: 42px;
    line-height: 42px;
}

#announcement {
    background: #FFF;
}

.cardContainerStyle {
    position: fixed;
    order: 3;
    top: 70px;
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff00;
    cursor: pointer;
    margin-left: 2.5rem;
}

#rewardBtn {
    padding: 8px 24px;
    font-size: 16px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.coffee {
    color: #939393;
}