#navigationBar {
            z-index: 30;
            display: flex;
            height: 4rem;
            box-shadow: none;
            align-items: center;
            background-color: #fff9;
            box-shadow: 0 5px 5px #EEE;
            backdrop-filter: blur(2px);
            /* --tw-backdrop-blur: blur(24px);
            --tw-backdrop-saturate: saturate(1.5);
            -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia); */
        }

        @media (max-width: 70em) {
            #navigationBar {
        height: 5rem;
            }
        }

        @media (min-width: 768px) {
            .navbar-container {
                padding-left: 2rem;
                padding-right: 2rem
            }
        }

        #siteTitle {

            display: flex;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }
        @media (max-width: 70em) {
             #siteTitle {
            margin: 12px 0;
                  }
        }

        #siteTitle .logo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
        }

        #navigationItems {
           /* position: absolute;
            right: 1rem;
            top: 0px; */
            text-shadow: none;
            
            display: flex;
            height: 4rem;
            align-items: center;
            white-space: nowrap;
            border-top:none;
        }

        @media (max-width: 70em) {
            #navigationItems {
                width: auto;
                position: unset;
                overflow-x: auto;
            }
        }


        @media (min-width: 768px) {
            .navbar-links {
                margin-left: 1.5rem
            }
        }

        #navigationItems .navbar-links {
            align-items: center
        }

        @media (min-width: 768px) {
            .navbar-links {
                display: inline-flex
            }
        }
@media (max-width: 70em) {
 #navigationItems .navbar-links {
                display: inline-flex
            }
}

        .navbar-links .navbar-links__item {
            display: block;
            padding-top: 0;
            padding-bottom: 0
        }

        @media (min-width: 768px) {
            .navbar-links .navbar-links__item {
                display: inline-block
                    padding-right:8px;
            }
        }

        .navbar-links .navbar-links__item:not(:first-child) {
            margin-left: 0
        }

        @media (min-width: 768px) {
            .navbar-links .navbar-links__item:not(:first-child) {
                margin-left: 1.5rem
            }
        }

        .navbar-links .navbar-links__item>.link {
            display: flex;
            align-items: center;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 600
        }

        .navbar-links .navbar-links__item>.link .xicon-container {
            margin-right: .125rem
        }

        .navbar-links .navbar-links__item .router-link-active {
            --tw-text-opacity: 1 !important;
            color: rgb(93 103 232 / var(--tw-text-opacity)) !important
        }

        .navbar-links__item>a,
        .navbar-links__item .dropdown-link__title {
            height: 3.5rem
        }
.dropDownStyle{
             background:#FFF;
         }
         .dropDownStyle>a{
             max-width: 180px;
            overflow: hidden;
             white-space: nowrap;
             text-overflow: ellipsis;
             font-size: 14px;
             padding:0.3rem 0 
         }

 .menuLinkStyle{
         
         width:100%;
             padding: 6px 0;
         }