/*!
 * WhiteMinimalist-Theme v1.1
 * https://www.shmaur.com/
 *
 * Licensed Apache-2.0 © shmaur
 */
#footer {

            height: 30px;
            width: auto;
            --tw-border-opacity: 1;
            padding-top: 22px;
            padding-bottom: 22px;
            text-align: center;
            font-weight: 500;
             font-size:14px;
        }

        .xicon-container.left {
            flex-direction: row;
            align-items: center;
        }

        .xicon-container {
            display: inline-flex;
            cursor: pointer;
        }

        svg {
            display: inline-block;
        }

        .xicon-container.left>svg {
            margin-right: .375rem;
        }